body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  max-width: 800px;
  line-height: 1.6;
  font-size: 18px;
  color: #363636;
  background-color: #fcfcfc;
  padding: 0 10px;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

a {
  color: #0068d6;
}

a:visited {
  color: #8b8b8b;
}

pre,
code {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
}

button.get-gist {
  margin-top: 14px;
}

.hide {
  display: none;
}

.dt-published {
  font-size: 15px;
  margin-left: 2px;
}

.gist-content {
  max-width: 100%;
  overflow: auto;
  font-size: 0.8em;
  box-shadow: 0 1.1px 1.9px -18px rgba(0, 0, 0, 0.02),
    0 2.8px 4.9px -18px rgba(0, 0, 0, 0.03),
    0 5.7px 9.9px -18px rgba(0, 0, 0, 0.038),
    0 11.7px 20.4px -18px rgba(0, 0, 0, 0.048),
    0 32px 56px -18px rgba(0, 0, 0, 0.07);
}

.gist-container {
  background-color: #f1f1f1;
  border-radius: 13px;
  padding: .8em 1em;
}

.gist-container {
  margin-bottom: 1em;
}

.gist-container h2 {
  margin: 0 0 .1em 0;
  display: inline-block;
  font-size: 25px;
}

.gist-content {
  background-color: #fff;
  border-radius: 8px;
  margin-top: 13px;
}

.gist-content h2 {
  font-size: 20px;
}

.gist-content pre,
.gist-content div {
  padding: 1.25em 1em;
  margin: 0;
}

.gist-content ul {
  padding-left: 25px;
}

.gist-content ul {
  margin-bottom: 8px;
  margin-top: 8px;
}

.gist-content ul:first-child {
  margin-top: 0;
}

.gist-content ul:last-child {
  margin-bottom: 0;
}
